# Configuration of BPM burn-in tests
monit_amp_goal         3e7
monit_amp_var_tol_pct  20
graph_nsamples         3000
period_ms              100
swharm_threshold       1e-3
max_att                31.5
delta_att              1
navg_monit_amp         10
monit_amp_pv_names     {'AmplA-Mon','AmplC-Mon','AmplB-Mon','AmplD-Mon'}
